<div>
  <h3>本当に退会しますか？</h3>
  <p>退会すると、会員登録情報や</br>
これまでの購⼊履歴が閲覧できなくなります。</br>
退会する場合は、「退会する」をクリックしてください。</p>
</div>
<div>
  <%= link_to "退会", "/", "data-confirm" => "本当に退会しますか？", class: "btn btn-outline-danger" %>
</div>