<div class="container">
  <div class="row">
    <div class="mx-auto">

      <h2>About</h2>
      <P>ながのCAKEは全国発送可能なケーキ屋<i class="fas fa-birthday-cake fa-spin"></i>さんです。</P>
      <p>お子様からお年寄りの方までお召し上がりいただけるよう、</p>
      <p>様々なバリエーションを誤用ししております。</p>
      <p>また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</p>
      <p>ぜひご注文ください。</p>


　　</div>
　</div>
</div>