<!--admin-customers-index 顧客一覧画面を表示するため -->
<h2>会員一覧</h2>
<table>
<thead>
<tr>
<th>会員ID</th>
<th>氏名</th>
<th>メールアドレス</th>
<th>ステータス</th>
</tr>
</thead>
<tbody>
<tr><!-- % customers.each do |customer| % -->
<td><!-- %=　link_to customer.first_name customer.last_name ,会員詳細 %  --></td>
<td><!-- %= customer.email % --></td>
<td><!-- %= customer.member_state % --></td>
</tr>
<tr>
<td></td>
<td></td>
</tr>
</tbody>
</table>

<!--kaminari入れてページ数表示？ -->